@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-play: var(--font-rametto-play);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: rgb(230, 220, 220);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.big-title {
  font-family: var(--font-rametto-play);
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-align: center;
  font-size: 6.5rem;
}

.sub-big-title {
  font-family: var(--font-rametto-play);
  text-align: center;
  margin-top: 10px;
  font-size: 35px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: right;
  gap: 3rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
  background-color: black;
  color: rgb(115, 255, 255);
}

.play-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 20%;
  font-family: var(--font-rametto-play);
  font-size: 5.5rem;
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  transition: transform 0.2s;
}

.play-wrapper.nomargin {
  margin-top: 5px;
}

.hojo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--font-rametto-play);
  font-size: 5.5rem;
  gap: 100px;
  colour: rgb(255, 255, 255);
}

