@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1 {
  color: red;
  justify-content: center;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: right;
  gap: 3rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
  background-color: black;
  color: rgb(115, 255, 255);
}

.change-pages {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(47, 149, 149);
  border-radius: 0.5rem;
  transition: transform 0.2s;
  align-items: center;
  margin-top: 1rem; /* adds spacing if multiple links */
}

.pagechange-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-top: 10%;
}