.button {
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 25px;
}

.button-play{
    background-color: green;
    padding: 25px 50px
    
}

.button-hojo{
    background-color: #8b4513;
    padding: 25px 25px
}

.button-small{
    font-size: 3.25rem;
}

button:disabled {
  background-color: #cccccc; /* Gray background */
  color: #666666;             /* Darker text color */
  cursor: not-allowed;        /* Change cursor to 'not-allowed' symbol */
  opacity: 0.7;               /* Make it slightly transparent */
  /* Remove hover effects that apply to enabled buttons */
}